<div class="af-page-content">
  <div class="card text-center">
    <div class="card-header text-left">
      <h5>密码修改</h5>
    </div>
    <div class="card-body">
      <div class="operate-area-container">
        <div class="op-column-item">
          <label>
            旧密码 <span class="text-danger">*</span>：
          </label>
          <div>
            <input type="password" [(ngModel)]="oldPassword" class="form-control"
              placeholder="请输入旧密码">
          </div>
        </div>
        <div class="op-column-item">
          <label>
            新密码 <span class="text-danger">*</span>：
          </label>
          <div>
            <input type="password" [(ngModel)]="newPassword" class="form-control"
              placeholder="请输入新密码">
          </div>
        </div>
        <div class="op-column-item">
          <label>
            再次输入新密码 <span class="text-danger">*</span>：
          </label>
          <div>
            <input type="password" [(ngModel)]="newPassword2" class="form-control"
              placeholder="请再次输入新密码">
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-right">
      <div class="text-danger">
        {{errorMessage}}
      </div>
      <div>
        <button type="button" class="btn btn-info" [disabled]="!oldPassword || !newPassword || !newPassword2" (click)="changePassword()">
          <span class="fas fa-check"></span>
          保存
        </button>
        <button type="button" class="btn btn-secondary" (click)="reset()">
          <span class="fas fa-times"></span>
          重置
        </button>
      </div>
    </div>
  </div>
</div>
