.card {
  width: 500px;

  .operate-area-container {
    margin: 20px 10px;

    .op-column-item {
      text-align: left;
      margin-bottom: 30px;

      .label {
        font-weight: 500;
      }
    }
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
