.typeahead-comp-container {
    width: 100%;
}

.dropdown-select-container {
    width: 99.9%;
    position: relative;
    z-index: 1000;
    background-color: white;
    text-align: left;
}

.dropdown-select-container ul {
    font-family: "Myriad Pro", Calibri, "Microsoft Jhenghei UI/ regular";
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 0px;
    padding-left: 0px;
    width: 100%;
    border-bottom: 1px solid #8c8686;
    border-right: 1px solid #8c8686;
    border-left: 1px solid #8c8686;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    background-color: inherit;
    position: absolute;
    z-index: 1001;
}

.dropdown-select-container ul>li {
    list-style: none;
    display: list-item;
    background-image: none;
    position: static;
    margin: 0;
    padding: 5px 6px;
    line-height: 15px;
    word-wrap: break-word;
    cursor: pointer;
    color: #546E95;
}

.dropdown-select-container ul>li.onFocus {
    background-color: #546E95;
    color: #fff;
}

.dropdown-select-container ul>li.alReadyChosen {
    color: #ccc;
    cursor: default !important;
}