
$ag-blue: #2c8ef8;
$ag-indigo: #727cf5;
$ag-purple: #6b5eae;
$ag-pink: #ff679b;
$ag-red: #fa5c7c;
$ag-orange: #fd7e14;
$ag-yellow: #ffbc00;
$ag-green: #0acf97;
$ag-teal: #02a8b5;
$ag-cyan: #39afd1;
$ag-white: #fff;
$ag-gray: #98a6ad;
$ag-gray-dark: #343a40;
$ag-primary: #727cf5;
$ag-secondary: #6c757d;
$ag-success: #0acf97;
$ag-info: #39afd1;
$ag-warning: #ffbc00;
$ag-danger: #fa5c7c;
$ag-light: #e3eaef;
$ag-dark: #313a46;

$ag-light-bg: #fafbfe;
$ag-side-color: #cedce4;